// inject:global
// endinject

$nav-bar-height: 50px
$theme-light-color: #7290b8
$theme-medium-color: #52729d
$theme-medium-dark-color: #354459
$theme-dark-color: #0f294b

.container
  width: 100%

.btn
  border: 0
  border-radius: 0
  height: $nav-bar-height

.glyphicon
  top: 0

.no-margin
  margin: 0

.full-screen
  height: 100%
  overflow: hidden
  position: absolute
  width: 100%

.full-width
  width: 100%

.full-height
  height: 100%

.notify-box
  z-index: 1000

  .exit-buttom
    border-radius: 10px
    font-size: 20px
    position: absolute
    right: 20px
    top: 20px
    z-index: 2000

  .countdowntimer
    display: inline-block
    width: 100px

  .message
    left: 50%
    max-width: 500px
    position: absolute
    top: 50%
    transform: translate(-50%, -60%);
    z-index: 1000

    .h4,
    .h2
      margin: 0

  .translucent-backgroud
    background-color: $theme-light-color
    filter: alpha(opacity=50)
    opacity: .7



.navbar-fixed-bottom
  background-color: $theme-dark-color
  padding: 10px

%nav-style
  -webkit-appearance: none
  color: #eef
  border: 0
  border-radius: 0
  font-size: 14px
  height: $nav-bar-height

.dd-data
  @extend %nav-style
  background-color: $theme-light-color

.dd-time
  @extend %nav-style
  background-color: $theme-medium-color

.dd-state
  @extend %nav-style
  background-color: $theme-medium-dark-color
