.container {
  width: 100%; }

.btn {
  border: 0;
  border-radius: 0;
  height: 50px; }

.glyphicon {
  top: 0; }

.no-margin {
  margin: 0; }

.full-screen {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.notify-box {
  z-index: 1000; }
  .notify-box .exit-buttom {
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2000; }
  .notify-box .countdowntimer {
    display: inline-block;
    width: 100px; }
  .notify-box .message {
    left: 50%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -60%);
    z-index: 1000; }
    .notify-box .message .h4,
    .notify-box .message .h2 {
      margin: 0; }
  .notify-box .translucent-backgroud {
    background-color: #7290b8;
    filter: alpha(opacity=50);
    opacity: .7; }

.navbar-fixed-bottom {
  background-color: #0f294b;
  padding: 10px; }

.dd-data, .dd-time, .dd-state {
  -webkit-appearance: none;
  color: #eef;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  height: 50px; }

.dd-data {
  background-color: #7290b8; }

.dd-time {
  background-color: #52729d; }

.dd-state {
  background-color: #354459; }
